node_modules
dist
.tmp
.sass-cache
bower_components

.idea/.name

.idea/deployment.xml

.idea/encodings.xml

.idea/jsLibraryMappings.xml

.idea/libraries/node_ardx_dashboard_node_modules.xml

.idea/misc.xml

.idea/modules.xml

.idea/node-ardx-dashboard.iml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml
