<div style="witdth:300px; float: left; margin-right:50px;">
  <h1>Objects</h1>
  <div ng-repeat="(name, object) in objects">
    <h2>
      {{name}}
    </h2>
    <h3>Methods</h3>
    <ul>
      <li ng-repeat="(method, params) in object.methods"> {{method}} : {{params}}
    </ul>
    <h3>Events</h3>
    <ul>
      <li ng-repeat="event in object.events"> {{event}}
    </ul>
    <form>
      <fieldset>
        <legend>Init Properties:</legend>
        Name: <input type="text" ng-model="objModel.name"> <br />
        Params: <input type="text" ng-model="objModel.params"> <br />
        <input type="button" value="Додати" ng-click="postDevice('{{name}}')"> <br />
      </fieldset>
    </form>
  </div>
</div>

<div style="witdth:300px; float: left; margin-right:50px;">
  <h1>Devices</h1>
  <div ng-repeat="(name, object) in devices">
    <h2>
      {{object.name}} [{{object.object}}]
    </h2>

    <ul>
      <li ng-repeat="(method, params) in object"> {{method}} : {{params}}
    </ul>
    <form>
      <fieldset>
        <legend>Command:</legend>
        Command: <input type="text" ng-model="devModel.command"> <br />
        Params: <input type="text" ng-model="devModel.params"> <br />
        <input type="button" value="Виконати" ng-click="putDevice('{{object.id}}')"> <br />
      </fieldset>
    </form>
  </div>
</div>

<div style="witdth:300px; float: left;">
  <h1>Messages</h1>
  <div ng-repeat="(name, object) in messages">
    <h2>
      {{name}}
    </h2>

    <ul>
      <li ng-repeat="(method, params) in object"> {{method}} : {{params}}
    </ul>
  </div>
</div>
